<%/* Display footer on every page */%>
<footer id="footer" class="footer">
  <div id="copyright" class="copyright">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author %>. <%= __('powered_by') %> <%- link_to('https://hexo.io/', 'Hexo', {external: true}) %> with <%- link_to('https://github.com/geekplux/hexo-theme-typing', 'Typing', {external: true}) %> theme. <br>Content is licensed under <%- link_to('https://creativecommons.org/licenses/by-sa/4.0/', 'CC-BY-SA 4.0', {external: true}) %>.
  </div>
</footer>

