<%/* Display footer on every page */%>
<%/* Use different CSS layout for different page layout */%>
<% if (is_current('about/index.html')) { %>
  <footer id="footer" class="home-footer footer">
<% } else if (is_post()) { %>
  <footer id="footer" class="post-footer footer">
  <hr>
<% } else { %>
  <footer id="footer" class="archive-footer footer">
  <hr>
<% } %>
    <div id="copyright" class="copyright">
      &copy; 2018-<%= date(new Date(), 'YYYY') %> <%= config.author %>. <%= __('powered_by') %> <%- link_to('https://hexo.io/', 'Hexo') %> with <%- link_to('https://github.com/geekplux/hexo-theme-typing', 'Typing') %> theme. <br>Content is available under <%- link_to('https://creativecommons.org/licenses/by-sa/4.0/', 'CC-BY-SA 4.0') %>.
    </div>
  </footer>
