<div class="home">
  <div class="content">
    <div class="profile">
      <h1 class="nickname"><%= theme.nickname %></h1>
      <div class="description">
        <p><%- markdown(theme.description) %></p>
      </div>
    </div>
    <hr/>
  </div>
</div>
  <ul class="footer-links">
  <% for (let key in theme.links.solid) { %>
    <li>
      <% if (theme.icons) { %>
      <a href="<%= theme.links.solid[key] %>"><span class="fas fa-<%= key.toLowerCase() %>"></span></a>
      <% } else { %>
      <a href="<%= theme.links.solid[key] %>"><%= key %></a>
      <% } %>
    </li>
  <% } %>
  <% for (let key in theme.links.brands) { %>
    <li>
      <% if (theme.icons) { %>
      <a href="<%= theme.links.brands[key] %>"><span class="fab fa-<%= key.toLowerCase() %>"></span></a>
      <% } else { %>
      <a href="<%= theme.links.brands[key] %>"><%= key %></a>
  <% } %>
      </li>
    <% } %>
  </ul>
