<%/* Display footer on every page */%>
<%/* Use different CSS layout for different page layout */%>
<% if (is_post()) { %>
  <footer id="footer" class="post-footer footer">
  <hr>
<% } else { %>
  <footer id="footer" class="archive-footer footer">
  <hr>
<% } %>
<div id="copyright" class="copyright">
  &copy; 2018-<%= new Date().getUTCFullYear() %> <%= config.author %>. <%- link('https://gitlab.com/curben/blog', 'Powered by ') %> <%- link('https://hexo.io/', 'Hexo') %> with <%- link('https://gitlab.com/curben/blog/tree/master/themes/chameleon', 'Chameleon') %> theme. <br/>Content is available under <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="license" itemprop="license">CC-BY-SA 4.0</a>, unless indicated otherwise.<br/>
  <% for (const i in theme.footer) { %>
    <a class="main-nav-link" href="<%- url_for(theme.footer[i]) %>"><%= i %></a>
  <% } %>
</div>
</footer>
