<header id="header" class="header">
  <%/* Nav menu for desktop */%>
  <nav id="main-nav" class="main-nav">
    <% for (const i in theme.menu) { %>
      <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
    <% } %>

    <div class="searchContainer">
      <form id="searchForm" method="post" action="https://duckduckgo.com/" target="_blank" rel="noopener external nofollow noreferrer">
      <input type="text" name="q" class="searchBox" id="searchTxt" placeholder="Search..." title="Powered by DuckDuckGo">
      <input type="hidden" name="sites" value="<%- config.url.replace(/^http(s)?:\/\//, '') %>">
      <input type="hidden" name="kd" value="-1">
      <input type="hidden" name="kg" value="p">
      <input type="hidden" name="kae" value="#000">
      <a class="searchBtn no-underline" id="searchClick">
        <svg viewBox="0 0 512 512">
          <title>Powered by DuckDuckGo</title>
          <desc>Search icon</desc>
          <use href="/svg/search.svg#search"/>
        </svg>
      </a>
      </form>
    </div>
  </nav>
  <%/* Nav menu for mobile */%>
  <nav class="mobile-nav">
    <h1><a href="<%- url_for(theme.menu['Home']) %>"><%= config.title %></a></h1>
    <ul class="mobile-nav-menu">
    <label for="mobile-menu-toggle"><a class="no-underline">&#9776; Menu</a></label>
    <input id="mobile-menu-toggle" type="checkbox"/>
    <ul class="mobile-nav-link">
      <div class="searchContainer">
        <form id="searchFormMob" method="post" action="https://duckduckgo.com/" target="_blank" rel="noopener external nofollow noreferrer">
        <input type="text" name="q" class="searchBox" id="searchTxtMob" placeholder="Search..." title="Powered by DuckDuckGo">
        <input type="hidden" name="sites" value="<%- config.url.replace(/^http(s)?:\/\//, '') %>">
        <input type="hidden" name="kd" value="-1">
        <input type="hidden" name="kg" value="p">
        <input type="hidden" name="kae" value="#000">
        <a class="searchBtn no-underline" id="searchClickMob">
          <svg viewBox="0 0 512 512">
            <title>Powered by DuckDuckGo</title>
            <desc>Search icon</desc>
            <use href="/svg/search.svg#search"/>
          </svg>
        </a>
        </form>
      </div>
      <i>Powered by DuckDuckGo</i>
      <% for (const i in theme.menu) { %>
        <a class="mobile-nav-link-a" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
      <% } %>
    </ul>
    </ul>
  </nav>
</header>
