<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partial/head', {}) %>
  <%/* set /about page to use "home" page layout */%>
  <% if (is_current('about/index.html')) { %>
    <body class="about-body">
  <% } else {%>
      <body>
  <% } %>
  <div id="container" class="container">
    <%- body %>
  </div>
  <%- partial('_partial/footer') %>
  <%- partial('_partial/after-footer') %>
  </body>
</html>
